@model SentryToMail.Models.MailModel

<!DOCTYPE html>
<html style="font-weight: 300">
<head style="font-weight: 300">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" style="font-weight: 300">
	<style type="text/css" style="font-weight: 300">
		@@import url(https://fonts.googleapis.com/css?family=Lato:400,700)
		;
	</style>
</head>
<body class="" style="-webkit-font-smoothing: antialiased; background-color: #fff; background-image: url(https://s1.sentry-cdn.com/_static/42de78132655056465cfc918c3adb85b/sentry/images/email/sentry-pattern.png); color: #2f2936; font-family: &quot;Lato&quot;, &quot;Helvetica Neue&quot;, helvetica, sans-serif; font-size: 16px; font-weight: 300; margin: 0; padding: 0; width: 100%;">
<p>&nbsp;</p>
<div class="preheader" style="padding: 0; font-size: 0; display: none; max-height: 0; font-weight: 300; mso-hide: all; line-height: 0;">New alert from appulate-backend.</div>
<table class="main" style="border-radius: 4px; font-size: 16px; color: #2f2936; border-collapse: separate; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); border-spacing: 0; max-width: 700px; font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif; border: 1px solid #c7d0d4; padding: 0; -webkit-font-smoothing: antialiased; width: 100%; font-weight: 300; margin: 15px auto; background-color: #fff;">
	<tbody>
	<tr style="font-weight: 300;">
		<td style="padding: 0; font-weight: 300; margin: 0; text-align: center;">
			<div class="header" style="padding: 23px 0; font-size: 14px; font-weight: 300; border-bottom: 1px solid #dee7eb;">
				<div class="container" style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left;">
					<a class="btn" style="border-radius: 4px; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08); color: #fff; float: right; font-size: 16px; padding: 8px 15px; text-decoration: none; border: 1px solid #413496; display: inline-block; font-weight: 600; margin: -3px 0 0; line-height: 18px; background-color: #6c5fc7;" href="@Model.Url">View on Sentry</a>
					<h1 style="font-size: 38px; color: #000; letter-spacing: -1px; padding: 0; font-weight: normal; margin: 0; line-height: 42px;"><a style="color: #4674ca; font-weight: 500; text-decoration: none;" href="https://sentry.io"><img style="font-weight: 300;" src="https://s1.sentry-cdn.com/_static/b0c1274a5132854ba0c78ff5e122ca51/sentry/images/email/sentry_logo_full.png" alt="Sentry" width="125px" height="29px"/></a></h1>
				</div>
			</div>
		</td>
	</tr>
	<tr style="font-weight: 300;">
		<td style="padding: 0; font-weight: 300; margin: 0; text-align: center;">
			<div class="container" style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left;">
				<div class="container" style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left;">
					<div class="inner" style="padding: 30px 0 20px; font-weight: 300; background-color: #fff;">
						<h2 style="font-size: 22px; font-weight: bold; margin: 0 0 15px;">New alert from <a style="color: #4674ca; font-weight: inherit; text-decoration: none;" href="https://sentry.io/@Model.ProjectName/@Model.ProjectSlug/">@Model.ProjectSlug</a> in @Model.Environment</h2>
						<table class="event-list" style="border-collapse: collapse; width: 100%; font-weight: 300; margin: 0 0 15px; text-align: left;">
							<tbody>
							<tr style="font-weight: 300;">
								<th style="font-size: 12px; font-weight: bold; color: #9ca3ad; margin: 0 0 5px; min-width: 60px; border-bottom: 2px solid #E7EBEE; padding: 5px 0 10px; text-transform: uppercase; text-align: left;" colspan="2">Issue</th>
							</tr>
							<tr style="font-weight: 300;">
								<td class="error-level" style="padding: 10px 0; width: 70px; border-top: 1px solid #E7EBEE; font-weight: 300; margin: 0; text-align: left;"><span style="color: #ffffff;"><span style="font-size: 16px; text-transform: capitalize; background-color: #ec5e44;">@Model.Level</span></span></td>
								<td class="event-detail" style="padding: 10px 0; width: 400px; border-top: 1px solid #E7EBEE; font-weight: 300; margin: 0; line-height: 22px; text-align: left;">
									<div class="issue" style="font-weight: 300; line-height: 22px;">
										<div class="event-type error" style="font-weight: 300;">
											<h3 style="font-size: 18px; font-weight: bold; line-height: 22px; margin: 0;"><a style="color: #4674ca; font-size: 16px; font-weight: 600; text-decoration: none; margin-right: 10px;" href="@Model.Url">@Model.Culprit</a>&nbsp;<br style="font-weight: 300;"/> <small style="color: #968ba0; font-size: 14px; font-weight: 300;">@Model.Additional</small></h3>
										</div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="event" style="font-weight: 300; margin-bottom: 30px;">
							<div class="event-date" style="color: #889092; font-weight: 300;">@Model.Date</div>
						</div>
						<div class="interface" style="font-weight: 300; margin-bottom: 30px;">
							<h3 class="title" style="font-size: 18px; font-weight: bold; margin: 0 0 15px;">Machine Name</h3>
							<pre style="border-radius: 4px; font-size: 14px; color: #3d4649; word-wrap: break-word; padding: 15px; white-space: pre-wrap; font-family: Menlo, Monaco, 'Courier New', monospace; overflow-wrap: break-word; font-weight: normal; margin: 0 0 15px; background-color: #f4f5f6;">@Model.MachineName</pre>
						</div>
						@if (Model.Exception != null) {
							<div class="interface" style="font-weight: 300; margin-bottom: 30px;">
								<h3 class="title" style="font-size: 18px; font-weight: bold; margin: 0 0 15px;">Exception</h3>
								<pre style="border-radius: 4px; font-size: 14px; color: #3d4649; word-wrap: break-word; padding: 15px; white-space: pre-wrap; font-family: Menlo, Monaco, 'Courier New', monospace; overflow-wrap: break-word; font-weight: normal; margin: 0 0 15px; background-color: #f4f5f6;">@Html.Raw(Model.Exception)</pre>
							</div>
						}
						@if (Model.Request != null) {
							<div class="interface" style="font-weight: 300; margin-bottom: 30px;">
								<h3 class="title" style="font-size: 18px; font-weight: bold; margin: 0 0 15px;">Request</h3>
								<table style="border-collapse: separate; border-spacing: 5px; width: 100%; font-weight: 300; margin: 0 -5px;">
									<colgroup style="font-weight: 300;"> <col style="width: 130px; font-weight: 300;"/> </colgroup>
									<tbody style="font-weight: 300;">
									<tr style="font-weight: 300;">
										<th style="color: #968ba0; text-align: left; min-width: 60px; padding: 5px 0; font-weight: 500;">URL</th>
										<td style="border-radius: 3px; padding: 5px 10px; font-weight: 400; margin: 0 0 5px; background-color: #f4f5f6; text-align: left;">@Model.Request.Url</td>
									</tr>
									<tr style="font-weight: 300;">
										<th style="color: #968ba0; text-align: left; min-width: 60px; padding: 5px 0; font-weight: 500;">Method</th>
										<td style="border-radius: 3px; padding: 5px 10px; font-weight: 400; margin: 0 0 5px; background-color: #f4f5f6; text-align: left;">@Model.Request.Method</td>
									</tr>
									</tbody>
								</table>
							</div>
						}
						@if (Model.User != null) {
							<div class="interface" style="font-weight: 300; margin-bottom: 30px;">
								<h3 class="title" style="font-size: 18px; font-weight: bold; margin: 0 0 15px;">User</h3>
								<table style="border-collapse: separate; border-spacing: 5px; width: 100%; font-weight: 300; margin: 0 -5px;">
									<colgroup style="font-weight: 300;"> <col style="width: 130px; font-weight: 300;"/> </colgroup>
									<tbody style="font-weight: 300;">
									<tr style="font-weight: 300;">
										<th style="color: #968ba0; text-align: left; min-width: 60px; padding: 5px 0; font-weight: 500;">ID:</th>
										<td style="border-radius: 3px; padding: 5px 10px; font-weight: 400; margin: 0 0 5px; background-color: #f4f5f6; text-align: left;">@Model.User.Id</td>
									</tr>
									<tr style="font-weight: 300;">
										<th style="color: #968ba0; text-align: left; min-width: 60px; padding: 5px 0; font-weight: 500;">UserName:</th>
										<td style="border-radius: 3px; padding: 5px 10px; font-weight: 400; margin: 0 0 5px; background-color: #f4f5f6; text-align: left;">@Model.User.UserName</td>
									</tr>
									<tr style="font-weight: 300;">
										<th style="color: #968ba0; text-align: left; min-width: 60px; padding: 5px 0; font-weight: 500;">Email:</th>
										<td style="border-radius: 3px; padding: 5px 10px; font-weight: 400; margin: 0 0 5px; background-color: #f4f5f6; text-align: left;">@Model.User.Email</td>
									</tr>
									</tbody>
								</table>
							</div>
						}
						@if (Model.Tags.Count > 0) {
							<h3 style="font-size: 18px; font-weight: bold; margin: 0 0 20px;">Tags</h3>
							<ul class="tag-list" style="list-style: none; padding: 0; font-weight: 300; margin: 0 0 20px;">
								@foreach (string key in Model.Tags.Keys) {
									<li style="border-radius: 3px; margin-right: 5px; margin-bottom: 10px; padding: 5px 10px 6px; font-weight: 300; display: inline-block; background-color: #f4f5f6;"><strong style="font-weight: 200;">@key=@Model.Tags[key]</strong></li>
								}
							</ul>
						}
					</div>
				</div>
			</div>
			<div class="container" style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left;">
				<div class="footer" style="padding: 35px 0; border-top: 1px solid #E7EBEE; font-weight: 300;"><a style="color: #687276; float: right; font-weight: 500; text-decoration: none;" href="http://appulategit.com/Appulate/SentryToMail/blob/master/README.md">This message generated by SentryToMail project</a></div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>